html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

div {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* border: 1px solid red; */
  text-align: center;
}
.container {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.upper-container {
  padding: 10px;
  gap: 10px;
  /* border: 1px solid #333; */
}

.show-number {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8px;
  border: 1px solid #333;
  border-radius: 5px;
}

.special-btn-container {
  display: flex;
  gap: 16px;
  padding: 16px;
  padding-bottom: 0;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.number-container > button,
#reset-btn,
#back-btn {
  min-width: 75px;
  height: 75px;
  font-size: 2rem;
  flex: 1;
}

button {
  display: block;
  margin: 0;
  padding: 16px 32px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button:hover {
}
